<ngx-spinner type="ball-scale-multiple"></ngx-spinner> 
<div class="container" infiniteScroll
[infiniteScrollDistance]="scrollDistance"
[infiniteScrollUpDistance]="scrollUpDistance"
[infiniteScrollThrottle]="throttle"
(scrolled)="loadMoreStories()">
    <div *ngFor="let story of stories">
      <div *ngIf="story" class="story-card">
        <h3><a [href]="story.url" target="_blank">{{ story.title }}</a></h3>
        <p>by {{ story.by }} | {{ story.score }} points | {{ story.descendants }} comments</p>
        <p>Published: {{ (story.time * 1000) | date:'medium' }}</p>
      </div>
    </div>
  </div>
  